<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <style>
        .sidebar {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            padding: 20px;
            margin-bottom: 20px;
            height: calc(100vh - 50px);
            position: sticky;
            top: 15px;
        }
        .chart-container {
            position: relative;
            margin-top: 20px;
            height: 75vh;
        }
        #myChart {
            width: 70%;
            height: 70%;
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="form-group">
                        <label for="instanceInput">Instância</label>
                        <input type="text" class="form-control" id="instanceInput" placeholder="Nome da Instância">
                    </div>
                    <button type="button" class="btn btn-success mb-2">Logar WhatsApp</button>
                    <button type="button" class="btn btn-warning mb-2">Reiniciar Sessão</button>
                    <button type="button" class="btn btn-danger mb-3">Deslogar</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Iniciar Maturação</button>
                    <button type="button" class="btn btn-info btn-block mb-4" onclick="window.location.href = '/'">Atualizar Contadores</button>
                    <button type="button" class="btn btn-info btn-block mb-4" onclick="window.location.href = '/fetch-groups'">Atualizar Grupos</button>


                    <h4 class="mb-2">Adicionar Bot</h4>
                    <div class="form-group">
                        <input type="tel" class="form-control mb-2" id="botNumero" placeholder="Número (55XXXXXXXXXXX)" pattern="\d{13}">
                        <input type="text" class="form-control mb-2" id="botNome" placeholder="Nome do Bot">
                        <button type="button" class="btn btn-secondary btn-block" onclick="adicionarBot()">Adicionar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-md-9">
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                    
                        <p>
                            Para maturar um chip de forma eficaz, é fundamental que ele esteja inserido em uma ampla rede de conexões virtuais. Esse processo envolve, primeiramente, o cadastro do chip em pelo menos 20 grupos diferentes, cada um com seu conjunto único de interesses e finalidades. Isso permite que o chip tenha acesso a uma diversidade de informações e experiências, enriquecendo sua capacidade de aprendizado e interação. Além disso, é crucial que o chip mantenha, no mínimo, 20 contatos de outros bots, garantindo uma troca constante de dados e experiências. Esses contatos proporcionam uma fonte constante de aprendizado e enriquecimento de conhecimento, permitindo que o chip se torne mais versátil e capaz de atender às demandas variadas de seus usuários. Em resumo, a maturação de um chip depende da sua inserção em uma rede robusta de grupos e contatos, que ampliam suas habilidades e o tornam mais eficiente em suas funções.
                        </p>
                    
                </div>
                
            </div>
        </div>
    </div>

    <script>
        var myChart;

        window.onload = function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Grupos', 'Contatos', 'Mensagens Recebidas', 'Bots'],
                    datasets: [{
                        label: 'Total',
                        data: [{{ total_grupos }}, {{ total_contatos }}, {{ msg_count }}, {{ total_bots }}],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        };

        function adicionarBot() {
            var nome = document.getElementById('botNome').value;
            var numero = document.getElementById('botNumero').value;

            fetch('/add-bot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'nome=' + nome + '&numero=' + numero
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert(data.message);
                    atualizarDadosGrafico();
                }
            })
            .catch(error => {
                console.error('Erro ao adicionar o bot:', error);
            });
        }

        function atualizarDadosGrafico() {
            // Implementar lógica de atualização dos dados do gráfico
            // Pode incluir uma chamada fetch para buscar dados atualizados do backend
        }
    </script>
</body>
</html>
