<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Erro - Instância Inexistente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="error-page">
        <h1 class="error-title">Maturação Iniciada!</h1>
        <p>
            Aguarde! Por 20 minutos aproximadamente o maturador vai ficar respondendo mensagens em periodos de tempo aleatório.
        </p>

        <button type="button" class="btn btn-info btn-block mb-4" onclick="window.location.href = '/'">Voltar</button>
    </div>
</body>
</html>
